<div class="container mt-5 text-center midwife-calendar">
  <%= month_calendar(events: @appointments) do |date, appointment| %>
      <%= date.day %>
  <% end %>
  <div class="card-container">
    <div class="inner-card align-items-center " id="mom-card">

      <% @appointments.each do |appointment| %>
          <% if appointment.confirmed? && appointment.booking.mom == current_user.mom %>
          <div class="outer-card">
            <h3><%= appointment.booking.midwife.user.first_name %> <%= appointment.booking.midwife.user.last_name %></h3>
            <p> <%= appointment.title.capitalize %>
            <div><p><%= appointment.start_time.strftime("%A, %d %b %Y %l:%M %p") %></p></div>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
